<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="WEBSITE_OWNER_NAME" value="688bf064-900b-4e8f-9598-2d9be0718133+Tiimo+.Web-.Dev1-WestEuropewebspace" />
  <add key="RenewXNumberOfDaysBeforeExpiration" value="110"/>
  <add key="letsencrypt:ServicePlanResourceGroupName" value="Default-Web-WestEurope" />
  <add key="letsencrypt:ResourceGroupName" value="sjkp.testplan"/>
  <add key="letsencrypt:Tenant" value="DA5B2603-F9F8-4854-9B7E-FD0AAA55B7FD"/>
  <add key="letsencrypt:SubscriptionId" value="D25DD200-CB73-4382-BA79-7F848A858E03"/>
  <add key="letsencrypt:ClientSecret" value="123"/>
  <add key="letsencrypt:ClientId" value=""/>
  <add key="WEBSITE_SITE_NAME" value="sitename" />
</appSettings>
