[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
*.dgml
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
App_Data/
/apps
/artifacts
msbuild.log
_app/
*.ncrunchsolution
nuget.exe
*.nupkg
Kudu.Services.Web/commit.txt

azuredeploy.parameters.local.json
azuredeploy.parameters.serviceplan.local.json
/artifacts64
/push-siteextension-siteextensionsnet.cmd
/push-siteextension-myget.ps1
/push-siteextension-myget.cmd
/codes.txt
/.vs/config/applicationhost.config
/LetsEncrypt.ResourceGroup/Templates/deploy-separate-two-rg.ps1
/LetsEncrypt.ResourceGroup/Templates/deploy-separate-two-rg.ps1
/LetsEncrypt.ResourceGroup/Templates/azuredeploy.parameters.local.de.json
/LetsEncrypt.ResourceGroup/Templates/azuredeploy.site.parameters.local.json
/LetsEncrypt.ResourceGroup/Templates/azuredeploy.serviceplan.parameters.local.json
/push-core-nuget.cmd
/push-core-myget.cmd
/LetsEncrypt.SiteExtension.Test/App.secret.config
/push-siteextension.ps1
/.vs/LetsEncrypt-SiteExtension/v15/Server/sqlite3/storage.ide-wal
/.vs/LetsEncrypt-SiteExtension/v15/Server/sqlite3/storage.ide-shm
/.vs/LetsEncrypt-SiteExtension/v15/Server/sqlite3/storage.ide
/.vs/LetsEncrypt-SiteExtension/v15/Server/sqlite3/db.lock
/Letsencrypt.Azure.Core.Test/unoeuro.json
.vs/
/LetsEncrypt.ResourceGroup/Templates/azuredeploy.acm.parameters.local.json
